/* Add a CSS rule for the image */
#photo {
    border: 2px solid blue;
}

/* Add a CSS rule for heading 1 containing your name */
h1 {
    color: blue;
}

/* Add a CSS rule for all <h2> headings */
h2 {
    color: grey;
}

/* Add a CSS rule for the div elements */
div {
    margin: 4px;
}
