h1 {
    color: blueviolet;
}

#header1 {
    color:chartreuse;
}

/* 1. Element Selectors */
p { 
    color: blue; 
}
/* 2. ID Selectors */
#latest { 
    background-color: purple; 
}
/* 3. Class Selectors */
.navigation { 
    margin: 2px;
}
/* 4. Element with Class Selector */
p.introduction { 
    margin: 2px;
}
/* 5. Descendant Selectors */
#blog h1 {
    color: blue;
}
#blog div h1 {
    color: blue;
}
/* 6. Child Selectors */
#blog > h1 {
    color: blue;
}